<!DOCTYPE html>
<html>
  <head>
    <title>Software Bill of Materials</title>
    <style>
      table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        padding-left: 5px;
      }
    </style>
  </head>
  <body>
    <main>
      <table border="">
          <tr>
            <th align="left">Name</th>
            <th align="left">Version</th>
            <th align="left">Description</th>
            <th align="left">License</th>
            <th align="left">Website</th>
            <th align="left">VCS</th>
            <th align="left">Maven</th>
          </tr>

          {{#components}}
          <tr>
            <td width="5%">{{ name }}</td>
            <td width="5%">{{ version }}</td>
            <td width="35%">{{ description }}</td>
            <td width="10%">{{ licenses }}</td>
            <td><a href="{{ website }}">{{ website }}</a></td>
            <td><a href="{{ vcs }}">{{ vcs }}</a></td>
            <td><a href="{{ maven }}">{{ maven }}</a></td>
          </tr>
          {{/components}}
        
      </table>
    </main>
  </body>
</html>