<!DOCTYPE html>
<html>
  <head>
    <title>Software bill of materials for EcoSys</title>
    <style>
      table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        padding-left: 5px;
      }
    </style>
  </head>
  <body>
    <main>
      <div style="display: none;">
        <h3>License Types</h3>
        <ul>
          {{#licenses}}
          <li>{{.}}</li>
          {{/licenses}}
        </ul>
      </div>
      
      <h3>Components</h3>
      <table border="">
          <tr>
            <th align="left">Name</th>
            <th align="left">Version</th>
            <th align="left">Description</th>
            <th align="left">License</th>
            <th align="left">Links</th>
          </tr>

          {{#components}}
          <tr>
            <td width="10%">{{ name }}</td>
            <td width="5%">{{ version }}</td>
            <td width="40%">{{ description }}</td>
            <td width="10%">{{ licenses }}</td>
            <td width="35%">
              {{#externalReferences}}
              <li>{{ type }}: {{ url }}</li>
              {{/externalReferences}}
            </td>
          </tr>
          {{/components}}
        
      </table>
    </main>
  </body>
</html>